<html>
<head>
        <link href="style.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="vue-app">
        <h1>{{ greet('afternoon') }}</h1>
        <p>Name: {{name}}</p>
        <a v-on:click.prevent="click" v-bind:href="website">google</a>
        <button v-on:click.once="age++">Add age by 1 year</button>
        <button v-on:click="age--">Subtract age by 1 year</button>

        <p>My age is {{age}}</p>

        <div id="canvas" v-on:mousemove="movemouse">{{x}},{{y}}</div>
        <input type="text" v-on:keyup.enter="log" v-model="age">

        <h2>computer properties</h2>
        <p>A: <input type="number" v-model="a"></p>
        <p>B: <input type="number" v-model="b"></p>
        <p>c: {{diff}}</p>

        <h2>conditional properties</h2>
        <button v-on:click="if_condition=!if_condition">Toggle condition</button>
        <p v-if="if_condition">show if</p>
        <p v-else-if="!if_condition">show else if</p>

        <h2>Vue for loop</h2>
        <ul>
            <li v-for="char in characters">{{char}}</li>

        </ul>
        <ul>
            <li v-for="(t,index) in team">{{index}}.{{t.name}} - {{t.age}}</li> <!-- Use template tag for not showing tag name-->
        </ul>


      <template v-for="(t,index) in team">
            <div v-for="(value,key) in t"> {{key}} - {{value}}</div>
      </template> 


    </div>
</body>

<script src="app.js"></script>

</html>